<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/fontawesome.min.css" />
    <link rel="stylesheet" href="css/solid.min.css" />
    <link rel="stylesheet" href="AutoDocFront.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <title>AutoDoc</title>
    <HeadOutlet @rendermode=InteractiveServer />
</head>

<body>
    <Routes @rendermode=InteractiveServer/>
    <script src="_framework/blazor.web.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="/js/tinymce/tinymce.min.js"></script>
    <script src="js/content-editor.js"></script>
    <script src="js/custom-app.js"></script>
    <script src="_content/Microsoft.FluentUI.AspNetCore.Components/Microsoft.FluentUI.AspNetCore.Components.lib.module.js" type="module" async></script>

</body>

</html>



@* <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/fontawesome.min.css" />
    <link rel="stylesheet" href="css/solid.min.css" />
    <link rel="stylesheet" href="AutoDocFront.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <title>AutoDoc</title>
    <HeadOutlet />
</head>

<body>
    <Routes @rendermode=InteractiveServer />
    <script src="_framework/blazor.web.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="/js/tinymce/tinymce.min.js"></script>
    <script src="js/content-editor.js"></script>
    <script src="js/custom-app.js"></script>
    <script src="_content/Microsoft.FluentUI.AspNetCore.Components/Microsoft.FluentUI.AspNetCore.Components.lib.module.js" type="module" async></script>

</body>

</html> *@
