
.dashboard-card {
    min-height: 200px;
    width: 100%;
    margin: 0;
    transition: box-shadow 0.2s, border-color 0.2s;
    border: 1.5px solid #dee2e6 !important; /* svetlo siva granica */
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

    .dashboard-card:hover {
        border-color: #ffc107 !important;
        box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,.20) !important;
        z-index: 2 !important;
    }

.icon-box.bg-primary {
    background-color: #0d6efd !important;
}

.icon-box.bg-success {
    background-color: #198754 !important;
}

.icon-box.bg-purple {
    background-color: #6f42c1 !important;
}

.bg-purple {
    background-color: #6f42c1 !important;
}
